.leaderboard-title
  %h1 Leader Board
- @competitions.each do |competition|
  .leaderboard
    %h2
      = competition.name
    .content
      %table.table.table-striped.table-hover
        %thead
          %tr
            %th(width="20%") Rank
            %th(width="40%") Team
            %th(width="40%") Score
            
        %tbody
          -competition.popular_teams.each do |team|          
            %tr
              %td
                %img(src="/tmp/cup.png" style="width: 25px; height: 25px;")
              %td
                = team.name
              %td
                %span.badge
                  = team.total_score