.event
  .event-title    
    %h2 Managing events 
    
  .row.add-event
    = link_to 'New event', new_admin_event_path, remote: true, class: 'btn btn-primary'
  = render @events
= render 'shared/dialog'