.jumbotron
  %h1 QANZ Social Club
  %p Welcome to Quintiq Social club, sign in to see your next competition and social event!
  .front-img
    %img(src="/tmp/foosball.jpg" style="width: 600px; height: 350px;")
  %p
    = link_to 'Sign in', login_path, class: 'btn btn-primary btn-lg'