- @competitions.each do |competition|  
  - if competition.games.size > 0
    .competition 
      %h2 
        = competition.name

    = render competition.games, admin: false
= render 'shared/dialog'
