
- @competitions.each do |competition|
  - if competition.games.size > 0
    .competition 
      %h2 
        = competition.name

    = render competition.games_for_member(current_user)
= render 'shared/dialog'
