%section.generate_users.container
  .row
    .col-sm-10
      %form.generate_users
        %header
          %h1 Batch users generation
        %fieldset
          .form-group
            %label Users' Email addresses, seperate using ";"
            .row
              .col-sm-8
                %textarea.form-control(rows="8")
          .f
        %fieldset.form-group.action
          %input(type="submit" value="Create users" class="btn btn-default")
