.container
  .row    
    .col-md-5
      .panel.panel-primary
        .panel-heading
          %h3.panel-title Team A
        .panel-body
          
    .col-md-5.col-sm-offset-1
      .panel.panel-danger
        .panel-heading
          %h3.panel-title Team B
        .panel-body
          Panel content
