.competition_admin
  %header
    %h2 
      = "Team and Game management for \"2015 foosball competition\""
  .left.col-md-9
    .teams
      .row
        %h4.col-md-4
          %b
            Teams playing        
      .col-md-6
        .panel.panel-primary
          .panel-heading
            %h3.panel-title 
              TeamA
          .panel-body.team-droppable
            <a href="#" class="btn btn-info draggable">Info</a>
            <a href="#" class="btn btn-info draggable">Info</a>
      .col-md-6
        .panel.panel-primary
          .panel-heading
            %h3.panel-title 
              TeamA
          .panel-body.team-droppable
            <a href="#" class="btn btn-info draggable">Info</a>
            <a href="#" class="btn btn-info draggable">Info</a>
      .col-md-6
        .panel.panel-primary
          .panel-heading
            %h3.panel-title 
              TeamA
          .panel-body.team-droppable
            <a href="#" class="btn btn-info draggable">Info</a>
            <a href="#" class="btn btn-info draggable">Info</a>

  .right.col-sm-3
    .unallocated_users
      .row
        .col-md-3.add-team-button
          = link_to 'Add new team', nil, class:'btn btn-success'
        .col-md-4
          = link_to 'Manage Games', nil, class:'btn btn-warning'
      %h4 
        %b
          Unallocated users
      .well-fixed.col-sm-6.unallocate-droppable
        <a href="#" class="btn btn-danger draggable">danger</a>
        <a href="#" class="btn btn-danger draggable">danger</a>
        <a href="#" class="btn btn-danger draggable">danger</a>
        <a href="#" class="btn btn-danger draggable">danger</a>
        <a href="#" class="btn btn-danger draggable">danger</a>
        <a href="#" class="btn btn-danger draggable">danger</a>
        <a href="#" class="btn btn-danger draggable">danger</a>
        <a href="#" class="btn btn-danger draggable">danger</a>
        <a href="#" class="btn btn-danger draggable">danger</a>
        <a href="#" class="btn btn-danger draggable">danger</a>
        <a href="#" class="btn btn-danger draggable">danger</a>
        <a href="#" class="btn btn-danger draggable">danger</a>
        <a href="#" class="btn btn-danger draggable">danger</a>
        <a href="#" class="btn btn-danger draggable">danger</a>
        <a href="#" class="btn btn-danger draggable">danger</a>
        <a href="#" class="btn btn-danger draggable">danger</a>
        <a href="#" class="btn btn-danger draggable">danger</a>
        <a href="#" class="btn btn-danger draggable">danger</a>
        <a href="#" class="btn btn-danger draggable">danger</a>
        <a href="#" class="btn btn-danger draggable">danger</a>
        <a href="#" class="btn btn-danger draggable">danger</a>
        <a href="#" class="btn btn-danger draggable">danger</a>
        <a href="#" class="btn btn-danger draggable">danger</a>
        <a href="#" class="btn btn-danger draggable">danger</a>
        <a href="#" class="btn btn-danger draggable">danger</a>
        <a href="#" class="btn btn-danger draggable">danger</a>
        <a href="#" class="btn btn-danger draggable">danger</a>
        <a href="#" class="btn btn-danger draggable">danger</a>
        <a href="#" class="btn btn-danger draggable">danger</a>
        <a href="#" class="btn btn-danger draggable">danger</a>
        <a href="#" class="btn btn-danger draggable">Info</a>
  