.event
  .row
    .col-sm-4
      %h2 Next social club event        
    .col-sm-3(style="margin-top:30px")
      %span.badge 15
      People coming
  %article.event
    .container
      .row
        .col-sm-7
          %img(src="http://dummyimage.com/665x375/000000/00a2ff")
        .event_info.col-sm-3
          %header
            %h3 The Bournce
            %span Oct 11 2015 Friday 9pm
          %p Keep Jumping, and have fun!! Forget about your work and relax in this wonderful bouncing land.
          .actions
            %a.btn.btn-primary(href="") Join Social Club Now!!
            %a.btn.btn-success(href="") Pay for this event($20)
    .container            
      .row        
        %h4 Address: 417 St Kilda Road, Melbourne
      .map
        %img(src="http://dummyimage.com/665x375/000000/00a2ff")
      

