!!! 5
%html(lang="en-US")
  %body
    %h2
      = "Please click the following link to reset your password."
    %p
      = link_to "Resetting password", new_reset_password_url(reset_password_token: @user.reset_password_token )
    
    %footer
      &copy 2015 MyFLiX
