!!! 5
%html(lang="en-US")
  %body
    %h2
      = @event.nil? ? "#{@user.name} is joining social club." : "#{@user.name} is joining social club and comming to the #{@event.name}"
    %footer
      &copy 2015 QANZ SocialClub
