.competition_admin
  header
    margin-bottom: 25px
    h2            
      text-align: center
  .unallocated_users
    top: 100
    position: fixed

    .add-team-button
      margin-right: 10px

    .well-fixed
      min-height: 500px
      max-height: 500px
      overflow-y: scroll       
    a
      margin-bottom: 5px

  .teams
    .row
      margin-bottom: 10px
      margin-top: 20px
      margin-left: 5px
    h4      
    .panel-min-height
      min-height: 200px
      max-height: 200px
      overflow-y: scroll
