
.leaderboard {
    position:relative;
    width:70%;
    height:70%;
    max-width:960px;
    min-width:400px;
    min-height:600px;
    margin: 30px auto 0 auto;
    padding:3%;
}


.leaderboard-title{
    text-align: center;
    text-transform: uppercase;
    margin-bottom:30px;
    padding:0;
    color: #cc7713;
}
.leaderboard h2{
    text-align: center;
    text-transform: uppercase;
    margin:30px;
    padding:0;
    
}

.leaderboard.content {
    position:relative;
    width:70%;
    margin:3px auto 0 auto;
    min-width:300px;

}
